@import url(https://fonts.googleapis.com/css?family=Fira+Sans|Caveat|Neucha:100,300,400,600,700);

body {
    background: #E5E5E5;
    font-family: 'Fira Sans',Arial, Helvetica, sans-serif!important;
    font-size: 20px;
}